.header-banner {
  height: 500px;
}

.header-banner-overlay {
  background: rgba(0, 0, 0, 0.5);
  overflow-y: hidden;
}

.header-browser {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 55px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.header__logo--list {
  line-height: 70px;
  display: flex;
}

.header__logo-img {
  width: 130px;
}

.header__logo-list {
  list-style: none;
  margin: 0px 0px 0px 32px;
  padding: 0;
}

.header__logo-item {
  display: inline-block;
  font-size: 18px;
}

.header__logo-item a {
  color: #e5e5e5;
  text-decoration: none;
  font-weight: 500;
  margin: 0 12px;
  height: 100%;
}

.header__logo-item a:hover {
  color: #b3b3b3;
}

.header__logo-item-active a {
  color: #f2f2f2 !important;
  font-weight: 700;
}

.header__account {
  display: flex;
  height: inherit;
  align-items: center;
}

.header__account-input {
  width: 200px;
  margin-right: 8px;
  transition: width 0.3s linear;
  animation: leftToRight ease 0.5s;
}

.header__account-input input {
  width: 100%;
  height: 32px;
  background-color: #14141440;
  padding: 7px 30px 7px 7px;
  font-size: 1.4rem;
  border: 1px solid #f2f2f2;
  outline: none;
  border-radius: 6px;
  color: #f2f2f2;
}

.header__account-search:hover {
  cursor: pointer;
}

.header__account-search {
  color: #ebebeb;
  margin-right: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__account-search svg {
  width: 24px;
  height: 24px;
}

.header__account-box {
  display: flex;
  align-items: center;
  position: relative;
}

.header__account-img,
.header__account-icon {
  cursor: pointer;
}

.header__account-img img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.header__account-icon {
  color: #ebebeb;
}

.header__account-icon svg {
  width: 16px;
  height: 16px;
}

.sign-out {
  position: absolute;
  top: 120%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  width: 180px;
  height: 53px;
  padding: 15px 27px;
  font-size: 1.8rem;
  color: #f2f2f2;
  font-weight: 500;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  animation: up40 ease 0.3s;
}

.sign-out:hover {
  cursor: pointer;
  text-decoration: underline;
}

.banner {
  padding: 70px 55px 10px;
  position: relative;
  height: 600px;
}

.banner__header {
  font-size: 6rem;
  color: #ebebeb;
}

.banner__header h3 {
  margin: 0 0 14px 0;
}

.banner__btn {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.banner__btn-play,
.banner__btn-inf {
  padding: 12px 20px;
  background-color: #e50914;
  width: auto;
  min-width: 150px;
  height: 43px;
  border-radius: 6px;
  border: none;
  color: #f2f2f2;
  font-weight: 500;
}

.banner__btn-play {
  margin-right: 10px;
}

.banner__btn-play:hover {
  background-color: #cc0812;
  cursor: pointer;
}

.banner__btn-inf:hover {
  background-color: #6d6d6e;
  cursor: pointer;
}

.banner__btn-play svg {
  margin-right: 8px;
}

.banner__btn-inf {
  background-color: rgba(109, 109, 110, 0.7);
  display: flex;
  align-items: center;
}

.banner__btn-inf svg {
  margin-right: 8px;
}

.banner__text {
  font-size: 1.6rem;
  color: #ebebeb;
  margin-top: 14px;
  width: 510px;
}

.banner__shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(14, 14, 14, 0.6),
    #141414
  );
}


@media (min-width: 740px) and (max-width: 1024px){
  .header__logo-list{
    display: none;
  }
  .discover-list{
    list-style: none;
    background-color: black;
    margin: 2px 0;
    padding: 20px 0;
    display: none;
  }
  .discover-list li{
    line-height: 40px;
    display: block;
  }
  .header__logo--list{
    flex: 1;
  }
  .discover{
    color: #FFF;
    flex: 1;
    text-align: center;
    font-size: 1.6rem;
  }
  .discover p{
    margin: 0;
    display: inline-block;
    margin-right: 5px;
  }
  .discover svg{
    width: 15px;
    height: 15px;
  }
  .active{
    display: block;
  }
  .header__logo-item a{
    display: block;
    margin: 0;
  }
  .header-banner{
    height: 600px;
  }
  .banner__header{
    font-size: 5rem;
  }
}

@media (max-width: 739px){
  .banner{
    padding: 70px 16px 10px;
  }
  .header__logo-list{
    display: none;
  }
  .discover-list{
    list-style: none;
    background-color: black;
    margin: 2px 0;
    padding: 20px 0;
    display: none;
  }
  .discover-list li{
    line-height: 40px;
    display: block;
  }
  .header__logo--list{
    flex: 1;
  }
  .discover{
    color: #FFF;
    flex: 1;
    text-align: center;
    font-size: 1.6rem;
  }
  .discover p{
    margin: 0;
    display: inline-block;
    margin-right: 5px;
  }
  .discover svg{
    width: 15px;
    height: 15px;
  }
  .active{
    display: block;
  }
  .header__logo-item a{
    display: block;
    margin: 0;
  }
  .header-banner{
    height: 600px;
  }
  .banner__header{
    font-size: 5rem;
  }
  .header-browser{
    padding: 0px 16px;
  }
  .header__logo-svg svg{
    width: 120px;
  }
  .banner__text{
    width: 100%;
  }
  .header__account-search{
    display: none;
  }
}