.footer {
  background-color: var(--black-color);
  position: absolute;
  zindex: 1;
  width: 100%;
  margin-top: 10px;
  padding: 70px 225px 0px 225px;
}

.footer__header {
  margin-bottom: 30px;
}

.footer__header a {
  font-size: 1.6rem;
  color: #757575;
  text-decoration: none;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__item {
}

.footer__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__list-item {
  margin-bottom: 16px;
}

.footer__list-item-link {
  text-decoration: none;
  color: #757575;
  list-style: none;
  font-size: 1.3rem;
}

.footer__list-item-link:hover,
.footer__header a:hover {
  text-decoration: underline;
}

.footer__language {
  margin-top: 20px;
}

.footer__language-btn {
  height: 54px;
  width: 154px;
  background-color: var(--black-color);
  font-size: 1.6rem;
  color: #757575;
  display: flex;
  align-items: center;
  padding: 16px;
  border: 1px solid #757575;
  border-radius: 2px;
}

.footer__language-btn-text {
  margin: 0px auto;
}

.footer__name-web {
  font-size: 1.3rem;
  margin: 24px 0px 33px;
  color: #757575;
}

.language-list {
  background-color: white;
  width: 154px;
  list-style: none;
  margin-top: 0;
  text-align: center;
  padding: 0;
  border-width: 0px 1px 1px;
  border-color: #757575;
  border-style: solid;
  display: none;
}

.language__item {
  height: 22px;
  line-height: 20px;
  background-color: var(--black-color);
  color: #757575;
  font-size: 1.6rem;
}

.language__item:hover {
  background-color: rgb(65, 167, 207);
  color: var(--white-color);
}

.active--language {
  background-color: rgb(65, 167, 207);
  color: var(--white-color);
}
